{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>wemake-django-template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'main/images/favicon-16x16.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'main/images/favicon-32x32.png' %}" />
  </head>
  <body>
  <div class="wemake-services-body" data-testid="wemake-django-template">
    {% if user.is_authenticated %}
      <h1>Go to <a href="{% url 'homepage' %}">Chatbot</a></h1>
    {% else %}
      <h1>Welcome!</h1>
      <p>You need to log in or create an account before using the platform.</p>
      <p>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
        or
        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Create Account</a>
      </p>
    {% endif %}
  </div>
  </body>
</html>
